APP_ENV=development
DATABASE_URL=sqlite:///napa_agent.db
LOG_LEVEL=INFO

TZ=Europe/Oslo

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_napaagent15@gmail.com
SMTP_wpuwirtfciwttaxm
SMTP_FROM="Napatech Agent <napaagent15@gmail.com>"
SMTP_TO=tvaaland@gmail.com

DB_PATH=./data/napa_agent.sqlite
LOG_LEVEL=INFO